.audio_container {
    display: inline-block;
}

.audio_container audio {
    display: none;
    visibility: hidden;
}

.audio_container .audio-player {
    position: relative;
    display: inline-block;
    max-width: 360px;
    min-width: 100px;
    height: 32px;
    line-height: 30px;
    cursor: pointer;
    background-color: #FFF;
    color: #B3B3B3;
    vertical-align: middle;
    border: 1px solid #EDEDED;
    border-radius: 4px;
}

.audio_container .audio-player:hover {
    color: #E85B48;
    border-color: #FFD2CC;
}

.audio_container .audio-player.is-playing {
    color: #E85B48;
    border-color: #FFD2CC;
}

.audio_container .audio-player .icon {
    color: #E85B48;
    font-size: 16px;
    z-index: 1;
}

.audio_container .audio-player .time {
    flex-grow: 1;
    margin-left: 8px;
    font-size: 13px;
    z-index: 1;
}

.audio_container .audio-player .progress {
    height: 30px;
    position: absolute;
    top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #FFEDEB;
}

.audio_container .audio-player.is-playing .progress{
    transition: width 200ms linear;
    -webkit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
}

.audio_container .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-right: 15px;
}